@import url('https://unpkg.com/css.gg@2.0.0/icons/css/chevron-down.css');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--very-light-pink);
  margin-bottom: 20px;
  background-color: #000000;
}
.menu {
  display: none;
}
.nav-logo {
  width: 200px;
  height: auto;
  object-fit: cover;
}
.navbar-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.Menu{
  display: none;
}


.navbar-left {
  display: flex;
}

.navbar-left ul {
  margin-left: 12px;
}

.navbar-left ul li a {
  text-decoration: none;
  color: white;
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover {
  color: yellowgreen;
}


@media (max-width: 640px) {
  .Menu {
    display: block;
    background-color: yellowgreen;
    margin-top: 5px;
  }
  .navbar-left ul {
    display: none;
  }
}