.container{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.slider {
    background-color: white;
}

#slide-activo {
    display: grid;
}

#slide-container{
    grid-column: 1/2;
    grid-row: 1;
    width: 100%;
    pointer-events: none;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: 1.5s;
    
    pointer-events: unset;
}

.slider-container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
    height: 700px;
}

.slider-body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: white;
    align-items: center;
    transition: 1.5s;
    opacity: 1;
    pointer-events: unset;
    width: 100%;
}


.slider-text{
    max-width: 600px;
}

.slider-img{
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider-arrow{
    cursor: pointer;
    width: 90%;
}

.button-activo{
    background-color: yellowgreen;
    border-radius: 5px;
}

.button-inactivo{
    display: none;
}


@media (max-width: 375px) {
    .slider-container {
      display: block;
    }
  }